# Customer Travel Destinations Map

In [17]:
import pandas as pd
import gmaps
import gmaps.datasets

In [18]:
# Import API key.
import requests
from config import *

In [19]:
from config import g_key

# Configure gmaps to use Google API key
gmaps.configure(api_key = g_key)

In [20]:
# 1. Import the WeatherPy_database.csv file
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,62.20,75,75,5.93,broken clouds
1,1,Srednekolymsk,RU,67.4500,153.6833,-27.65,100,98,4.07,overcast clouds
2,2,Hermanus,ZA,-34.4187,19.2345,64.90,65,0,14.63,clear sky
3,3,Coquimbo,CL,-29.9533,-71.3436,62.33,88,0,4.61,clear sky
4,4,Lenger,KZ,42.1830,69.8839,36.84,56,0,1.14,clear sky
5,5,Margate,GB,51.3813,1.3862,49.96,66,49,7.00,scattered clouds
6,6,Ushuaia,AR,-54.8000,-68.3000,51.46,66,40,9.22,scattered clouds
7,7,Carroll,US,39.5501,-77.0164,49.96,66,0,10.36,clear sky
8,8,Avarua,CK,-21.2078,-159.7750,77.05,88,20,13.80,light rain
9,9,Airai,TL,-8.9266,125.4092,71.71,71,46,2.75,scattered clouds

In [21]:
# 2. Prompt the user to enter a min and max temperature 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [22]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Avarua,CK,-21.2078,-159.7750,77.05,88,20,13.80,light rain
11,11,Puerto Ayora,EC,-0.7393,-90.3518,75.69,83,85,6.11,overcast clouds
13,13,Gizo,SB,-8.1030,156.8419,83.75,71,80,3.76,light rain
19,19,Hobart,AU,-42.8794,147.3294,76.12,25,0,17.27,clear sky
20,20,Key West,US,24.5557,-81.7826,75.20,86,40,12.66,scattered clouds
22,22,Kilindoni,TZ,-7.9139,39.6668,81.95,77,96,7.63,overcast clouds
24,24,Lahad Datu,MY,5.0268,118.3270,88.92,52,65,6.22,broken clouds
27,27,Isangel,VU,-19.5500,169.2667,87.91,70,75,4.61,broken clouds
35,35,Grand Gaube,MU,-20.0064,57.6608,84.38,68,100,8.99,overcast clouds
36,36,Atuona,PF,-9.8000,-139.0333,77.47,79,25,15.77,light rain

In [23]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Avarua,CK,-21.2078,-159.7750,77.05,88,20,13.80,light rain
11,11,Puerto Ayora,EC,-0.7393,-90.3518,75.69,83,85,6.11,overcast clouds
13,13,Gizo,SB,-8.1030,156.8419,83.75,71,80,3.76,light rain
19,19,Hobart,AU,-42.8794,147.3294,76.12,25,0,17.27,clear sky
20,20,Key West,US,24.5557,-81.7826,75.20,86,40,12.66,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
550,550,San-Pedro,CI,4.7485,-6.6363,78.13,92,100,5.08,light rain
566,566,Kirakira,SB,-10.4544,161.9205,83.62,77,91,1.70,overcast clouds
568,568,Manggar,ID,-2.8833,108.2667,81.90,78,74,10.09,broken clouds
569,569,Tura,IN,25.5198,90.2201,75.65,28,0,4.63,clear sky
577,577,Mayumba,GA,-3.4320,10.6554,77.38,88,100,4.43,light rain

In [24]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                129
City                   129
Country                129
Lat                    129
Lng                    129
Max Temp               129
Humidity               129
Cloudiness             129
Wind Speed             129
Current Description    129
dtype: int64

In [25]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Avarua,CK,-21.2078,-159.7750,77.05,88,20,13.80,light rain
11,11,Puerto Ayora,EC,-0.7393,-90.3518,75.69,83,85,6.11,overcast clouds
13,13,Gizo,SB,-8.1030,156.8419,83.75,71,80,3.76,light rain
19,19,Hobart,AU,-42.8794,147.3294,76.12,25,0,17.27,clear sky
20,20,Key West,US,24.5557,-81.7826,75.20,86,40,12.66,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
550,550,San-Pedro,CI,4.7485,-6.6363,78.13,92,100,5.08,light rain
566,566,Kirakira,SB,-10.4544,161.9205,83.62,77,91,1.70,overcast clouds
568,568,Manggar,ID,-2.8833,108.2667,81.90,78,74,10.09,broken clouds
569,569,Tura,IN,25.5198,90.2201,75.65,28,0,4.63,clear sky
577,577,Mayumba,GA,-3.4320,10.6554,77.38,88,100,4.43,light rain

In [32]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Avarua,CK,77.05,light rain,-21.2078,-159.7750,
11,Puerto Ayora,EC,75.69,overcast clouds,-0.7393,-90.3518,
13,Gizo,SB,83.75,light rain,-8.1030,156.8419,
19,Hobart,AU,76.12,clear sky,-42.8794,147.3294,
20,Key West,US,75.20,scattered clouds,24.5557,-81.7826,
22,Kilindoni,TZ,81.95,overcast clouds,-7.9139,39.6668,
24,Lahad Datu,MY,88.92,broken clouds,5.0268,118.3270,
27,Isangel,VU,87.91,broken clouds,-19.5500,169.2667,
35,Grand Gaube,MU,84.38,overcast clouds,-20.0064,57.6608,
36,Atuona,PF,77.47,light rain,-9.8000,-139.0333,

In [33]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [34]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()
hotel_df = hotel_df.dropna()
hotel_df

new_column_order = ["City", "Country", "Max Temp", "Current Description","Lat", "Lng","Hotel Name"]
hotel_df = hotel_df[new_column_order]

hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Avarua,CK,77.05,light rain,-21.2078,-159.7750,Paradise Inn
11,Puerto Ayora,EC,75.69,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
13,Gizo,SB,83.75,light rain,-8.1030,156.8419,Imagination Island
19,Hobart,AU,76.12,clear sky,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
20,Key West,US,75.20,scattered clouds,24.5557,-81.7826,Fairfield Inn & Suites by Marriott Key West
...,...,...,...,...,...,...,...
550,San-Pedro,CI,78.13,light rain,4.7485,-6.6363,Hotel Maria
566,Kirakira,SB,83.62,overcast clouds,-10.4544,161.9205,SanBiz Lodge
568,Manggar,ID,81.90,broken clouds,-2.8833,108.2667,Guest Hotel
569,Tura,IN,75.65,clear sky,25.5198,90.2201,Hotel RIKMAN Continental
577,Mayumba,GA,77.38,light rain,-3.4320,10.6554,LIKWALE LODGE

In [35]:
# 8a. Create the output File (CSV)
hotel_output_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(hotel_output_file, index_label="City_ID")

In [38]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} & {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))